@font-face {
  font-family: "DrukCyr";
  src: url("fonts/DrukCyr_Medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ExtraBold.otf");
}


html {
    overflow: hidden;
}

body {
    background-color:rgba(20.0, 20.0, 20.0, 1);
    width: 100%;
    height: 100%;
}

.my-nick {
    margin-top: -2%;
	color: white;
	position: relative;
	font-family: DrukCyr;
	font-size: 300%;
	letter-spacing: 0;
}

.middle-text {
    margin-top: 2%;
	color: white;
	position: relative;
	font-family: Gilroy;
	font-size: 250%;
	letter-spacing: 0;
}

.avatar {
    border-radius: 0px;
    border: 0px solid;
	width: 120px;
    height: 120px;
    background-image: url(https://avatars.githubusercontent.com/u/71398923?v=4);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1%;
}

.info {
    text-align: center;
    margin-top: -0.5%;
	color: white;
	position: relative;
	font-family: Gilroy;
	font-size: 150%;
	letter-spacing: 0;
}
.mail {
	width: 85px;
	height: 85px;
	background-image: url(images/mail.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}
.telegram {
	width: 85px;
	height: 85px;
	background-image: url(images/image_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}
.github {
	width: 85px;
	height: 85px;
	background-image: url(images/image_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}
.spigot {
	width: 85px;
	height: 85px;
	background-image: url(images/image_5.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}

.cruella {
	border-radius: 30px;
	width: 100px;
	height: 100px;
	background-image: url(images/cruella.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}

.lifeline {
	border-radius: 30px;
	width: 100px;
	height: 100px;
	background-image: url(images/lifeline.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
	margin-top: 0%;
}
