@font-face {
  font-family: "DrukCyr";
  src: url("fonts/DrukCyr_Medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ExtraBold.otf");
}

.text-shadow-custom {
    color: white;
    font-family: DrukCyr;
    text-shadow: -2px 2px #8a2be2,
               -4px 4px #4b0082,
               -6px 6px #2e0854,
               -8px 8px #1a0333,
               -10px 10px #0d011a;
}

body {
    background-color: #212529;
}

.char {
    display: inline-block;
    opacity: 0;
}

.social-icon {
    border: none !important;
}

.lead, .card-title, .card-text, .text-light, .text-secondary {
    font-family: 'Gilroy';
}

.card.bg-dark {
    background-color: #343a40 !important;
    border-color: #495057 !important;
}

.card-text.text-secondary {
    color: #adb5bd !important;
}
